<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="crudmali">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/crud ali"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CRUDAbiRagaKawirian"
        tools:targetApi="31">
        <activity
            android:name="crudmali.detailActivity"
            android:exported="false" />
        <activity
            android:name="crudmali.updateActivity"
            android:exported="false" />
        <activity
            android:name="crudmali.createActivity"
            android:exported="false" />
        <activity
            android:name="crudmali.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>